a {
    text-decoration: none;
    color: #0000ff;
}
a:hover {
    text-decoration: underline;
}
body {
    margin-top: 40px;
    margin-right: 60px;
    margin-bottom: 10px;
    margin-left: 60px;
    /*font-family: 'Indie Flower';*/
    font-family: 'Roboto Slab', 'Sans-Serif';
    font-style: normal;
    font-weight: 300;
    height: 100%;
    word-spacing: 3px;
    color: #4d4d4d;

}
.columnlong {
    flex: 2;
    flex-basis: 50%;
    background-color: #d13be1;
    margin-right: 30px;
}
.columnshort{
    flex: 1;
    flex-basis: 25%;
    background-color: #d29acf; 
}
.container{
    display: flex;
    margin: 30px auto;
    padding: 10px;
}
/* Headers */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Tangerine', serif;
    font-size: 54px;
    word-break: break-word;
  }

h2 {
  font-family: 'Tangerine', serif;
  font-size: 40px;
  word-break: break-word;
  margin-bottom: 15px;
}

/* Navigation List */

nav {
    ul{
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.nav{
    margin-right: 0 auto 0 auto;
    width: 95%;
    background: darken();
    color: #f0f0f0;
}

.nav ul {
    font-family: 'Georgia', 'Times New Roman', 'Sans-Serif';
    padding: 3px;
    list-style: none;
    font-weight: bold;
}

.nav a {
    display: block;
    padding: 0 25 px;
    line-height: inherit;
    cursor: pointer;
}

.nav__menu {
    line-height: 30px;
    font-weight: 600;
}

.nav__menu-item {
    display: inline-block;
    position: relative;
}

p {
    font-size: 1.0em;
    line-height: 1.4em;
    font-weight: 400;
    word-break: break-word;
}
.circular-image {
    border-radius: 75px;
    margin: 20px auto;
}

