<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" href= "css/style.css">
  </head>

  <body>
    <nav class="nav">
      <ul class="nav__menu">
        <li class="nav__menu-item"><a href="#">Home</a></li>
        <li class="nav__menu-item"><a href="/about">About</a></li>
        <li class="nav__menu-item"><a href="/work">Work</a></li>
        <li class="nav__menu-item"><a href="/contact">Contact</a></li>
    </ul>
  </nav>

  {{content}}

  <footer>
    <nav class="nav">
      <ul class="nav__menu">
        <li class="nav__menu-item"><a href="#">Home</a></li>
        <li class="nav__menu-item"><a href="/about">About</a></li>
        <li class="nav__menu-item"><a href="/work">Work</a></li>
        <li class="nav__menu-item"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  </footer>

  </body>
</html>


